{% extends "debsso-base.html" %}

{% block head_resources %}
{{block.super}}
{% endblock %}

{% block relatedpages %}
{# <a href="{% url 'spkac_status' domain=domain %}">list of current keys</a> #}
{{block.super}}
{% endblock %}

{% block content %}

<h1 class="announce">Debian Single Sign On, Client Certificate test, server environment</h1>

<p>Current user: {{ssl_user|default:"none"}}</p>

<table>
  <thead>
    <tr>
      <th>Variable</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
  {% for key, val in env %}
    <tr>
      <td>{{key}}</td>
      <td>{{val}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<p>In case of problems, see <a href="https://wiki.debian.org/DebianSingleSignOn#Browser_support">browser support</a>.</p>

{% endblock %}
